*{
	margin:0;
	padding:0;
}
nav{
	width: 100%;
	height:84.4px;
	background-color:#000;
	line-height:80px;
}
nav ul{
	float:right;
	margin-right:30px;
}
nav ul li{
	list-style-type:none;
	display:inline-block;
	transition:0.95s all
}
nav ul li:hover{
	background-color:#32CD32;
}
nav ul a{
	font-family:cursive;
	font-size:20px;
	text-decoration:none;
	color:#F0FFF0;
	padding:30px;
}